.gem-updates {
  padding-top: 1%;
  text-align: center;
  .gems {
    padding: 0;
    list-style: none;
    border: none;
    border-top: 1px solid #261b7e;

    .gem {
      padding: 5px 5%;
      border: none;
      border-bottom: 1px solid #261b7e;
      display: flex;
      justify-content: space-between;
      .gem-description {
        max-width: 80%;
        display: inline-block;
        text-align: left;
      }
      .gem-stats {
        max-width: 20%;
        display: inline-block;
        text-align: right;
      }
    }
  }
}

.gem-section {
  padding: 1% 5%;
  text-align: center;

  h4 { font-weight: normal; }

  .gem-update-info {
    width: 50%;
    text-align: left;
  }
  .instructions{
    label {
      color: gray;
    }
    input {
      width: 80%;
      min-width: 250px;
      max-width: 100%;
      display: inline-block;
      vertical-align: bottom;
      margin-right: -50px;
      cursor: pointer;
      &:hover {
        cursor: pointer;
      }
    }
    .copy-button {
      display: inline-block;
      height: 38px;
      width: 50px;
      outline: none;
      margin-bottom: 10px;
      background-color: #261b7e;
      color: white;
      pointer-events: none;
    }
  }
}
