.gem-updates
  h3= t('.title')
  .w-form
    = simple_form_for '', url: root_path, method: :get, html: {class: 'form w-clearfix'} do |f|
      = f.input :search, label: false, placeholder: 'search', input_html: {class: 'w-input', value: params[:search]}, required: false
      = f.submit t('.search')
  ul.gems
    = render partial: 'gem', collection: gems
