.gem-section
  h3
    strong= gem['name']
  h4= gem['info']
  .gem-update-info
    br
      strong= t('.newest_version', version: latest_version['number'], date: latest_version['created_at'])
    br
      => t('.current_version')
      = select_tag :version, options_for_select(gem_versions[1..-1].map { |v| format "%s, %s", v['number'], v['created_at'] }), class: 'version-select'
    br
      .instructions
        = label_tag 'Gemfile'
        = text_field_tag :gemfile, t('.gemfile', name: gem['name'], version: gem['version']),
          class: 'w-input', readonly: true, onfocus: "this.select(); execCommand('copy');", onmouseup: "return false;", title: t('.clipboard')
        button.copy-button= t('.copy')
      .instructions
        = label_tag 'Install'
        = text_field_tag :install, t('.install', name: gem['name'], version: gem['version']),
          class: 'w-input', readonly: true, onfocus: "this.select(); execCommand('copy');", onmouseup: "return false;", title: t('.clipboard')
        button.copy-button= t('.copy')
  .gem-dependencies
    h4= t('.dependencies')
    - gem['dependencies'].each do |group, dependencies|
      h5= t('.dependencies_title', dependency_group: group.upcase)
      - dependencies.each do |dependency|
        .dependency= dependency.values.join(' ')
